


#sendie {
	border: 3px solid #d35400;

}

#chat-area                      { height: 300px; overflow: auto; border: 1px solid #666; padding: 20px; background: white; width: 200px; }
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }
#chat-area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }