#page-wrap{position:fixed; top :440px;left:120px;}


#sendie {
	border: 3px ridge #49a2df; background-color:#7f8c8d;color:white;width:200px;	;border-top-width:4px;border-top-style:ridge;

}

#chat-area                      { height: 300px; overflow: auto; border: 2px ridge #49a2df; padding: 20px;color:white; background-color: #4e5d6c; width: 200px;border-bottom-width:0px; }
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }
#chat-area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
