
div.jp-audio,
div.jp-audio-stream,
 {

	/* Edit the font-size to counteract inherited font sizing.
	 * Eg. 1.25em = 1 / 0.8em
	 */

	font-size:1.25em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

	font-family:Verdana, Arial, sans-serif;
	line-height:1.6;
	color: #666;
	border:1px solid #009be3;
	background-color:#eee;
}
.jp-audio {
	width:420px;
}

/*THIS IS THE WHITE AREA*/

.jp-interface {
	position: relative;
	background-color:#4e5d6c;
	width:300px;
	height:210px;
	left:10px;

}






/* @group CONTROLS */



div.jp-interface ul.jp-controls {
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
}

div.jp-audio ul.jp-controls {
	width: 380px;
	padding:20px 20px 0 20px;
}

div.jp-audio-stream ul.jp-controls {
	width: 142px;
	padding:20px 20px 0 20px;
}



div.jp-interface ul.jp-controls a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}


.jp-play {
	 width: 0px;
    height: 0px;
   left:28px;
   top:20px;
    margin-right: 100%;

    overflow: hidden;
   background-color: transparent;
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 32px solid #4e5d6c;
    border-right-color: transparent;
}

.pause {
	 width: 8px;
    height: 50px;
   border-radius: 50px;
   position: relative;   
   top:18px; 
   left:2px; 
    
   
   background-color: #4e5d6c;
}


.mediaButton{
  background-color:#2b3e50;
  border-style:solid;
  border-color:#4e5d6c;
  border-radius:100px;
  position:absolute;top:14px;
  left:8px;
  width:85px;
  height:85px;
}
.mediaButton:hover{border-color: #67C8FF;}
.mediaButton:hover .jp-play{border-left-color: #67C8FF;}
.mediaButton:hover .pause{background-color: #67C8FF;}

#starButton{
  background-color:#2b3e50;
  border-style:solid;
  border-color:#4e5d6c;
  border-radius:100px;
  position:absolute;
  top:100px;
  left:8px;
  width:40px;
  height:40px;
}

#uploadButton{
  background-color:#2b3e50;
  background-size: 20px 20px;
  background-position: 6px 6px;
  background-repeat: no-repeat;
  border-style:solid;
  border-color:#4e5d6c;
  border-radius:100px;
  position:absolute;
  top:100px;
  left:50px;
  width:40px;
  height:40px;
 background-image:url('http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons-256/3d-transparent-glass-icons-alphanumeric/068118-3d-transparent-glass-icon-alphanumeric-plus-sign.png');
}
.unlitStar{
 background-image: url('http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons-256/3d-transparent-glass-icons-natural-wonders/049081-3d-transparent-glass-icon-natural-wonders-star8-sc48.png');
background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  width:40px;
  height:40px;
}

.litStar{
  background-image: url('http://www.freestockphotos.biz/pictures/15/15160/Illustration+of+a+gold+star.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 7px 8px;
  width:40px;
  height:40px;
     -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
}




/* @end */

/* @group progress bar */

.jp-progress {
	overflow:hidden;
	background-color: #2b3e50;
}
div.jp-audio div.jp-progress {
	position: absolute;
	top:150px;
	height:35px;
}
div.jp-audio div.jp-type-single div.jp-progress {
	left:-2px;
	width:286px;
}
div.jp-audio div.jp-type-playlist div.jp-progress {
	left:166px;
	width:230px;
}

/*background of bar*/
.jp-seek-bar {
	background-color: #2b3e50;
	width:0px;
	height:100%;
	cursor: pointer;
}

/*filling of bar*/
.jp-play-bar {
	background-color:#7f8c8d;
	width:0px;
	height:100%;
}

/* The seeking class is added/removed inside jPlayer */
.jp-seeking-bg {
	background: url("jplayer.blue.monday.seeking.gif");
}

/* @end */


/* @end */

/* @group current time and duration */

div.jp-audio div.jp-time-holder {
	position:absolute;
	top:185px;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
	left:-2px;
	width:286px;
}
div.jp-audio div.jp-type-playlist div.jp-time-holder {
	left:160px;
	width:230px;
}

div.jp-current-time,
div.jp-duration {
	width:60px;
	font-size:.64em;
	font-style:oblique;
}
div.jp-current-time {
	float: left;
	display:inline;
}
div.jp-duration {
	float: right;
	display:inline;
	text-align: right;
}


/* @end */

/* @group playlist */

div.jp-details {
	font-weight:bold;
	text-align:center;
}

.jp-playlist {
	width:300px;
    height:210px;
	background-color:#4e5d6c;
	overflow: auto;
	left:301px;
	position :absolute;
}


::-webkit-scrollbar {
      width: 15px;
}

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} 


div.jp-type-single div.jp-details,
div.jp-type-playlist div.jp-details,
div.jp-type-single div.jp-playlist {
	border-top:none;
}
div.jp-details ul,
div.jp-playlist ul {
	list-style-type:none;
	margin:0;
	padding:0 20px;
	font-size:.72em;
}

div.jp-details li {
	padding:5px 0;
	font-weight:bold;
}
div.jp-playlist li {
	padding:5px 0 4px 20px;
	border-bottom:1px solid #2b3e50;
	border-left: 1px solid #2b3e50;
	border-right: 1px solid #2b3e50;
}

.jp-playlist li:hover{background-color:#2b3e50;border-bottom: 1px}
.jp-playlist li{width:250px;}




.jp-playlist a {
	color: #333;
	text-decoration: none;
}

.jp-playlist a:hover{
	color: #67C8FF;
}


/*FOR REMOVAL OF FILES
/*.jp-playlist a.jp-playlist-item-remove {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
	font-weight:bold;
	color:#666;
}
div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
	color:#0d88c1; }*/



/*FOR DOWNLOADING OF FILES?
/*div.jp-type-playlist div.jp-playlist span.jp-free-media {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
}
div.jp-type-playlist div.jp-playlist span.jp-free-media a{
	color:#666;
}


div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover{
	color:#0d88c1;
}*/
span.jp-artist {
	font-size:.8em;
	color:#eee666;
}

a:hover.jp-playlist-item{text-decoration: none;}

/* @end */





/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
	padding:5px;
	font-size:.8em;
	background-color:#eee;
	border:2px solid #009be3;
	color:#000;
	display:none;
}

.jp-no-solution a {
	color:#000;
}

.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:bold;
}

/* @end */
